{% extends 'base.html' %}
{% load static %}

{% block content %}

<body class="stretched">

    
        <!-- Page Title
		============================================= -->
        <section id="page-title" class="page-title-pattern">

            <div class="container">
                <h1>About Us</h1>
            </div>

        </section><!-- #page-title end -->

        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">

                    <div class="row col-mb-50">
                       <div class="col-md-6">
                               
                                <img alt="about-us" src="../../static/images/about/3.jpg"/>
                        </div>
                        <div class="col-md-6">
                            <div class="fancy-title title-bottom-border">
                                <h3>The multidisciplinary clinic for young people with liver diseases...</h3>
                            </div>

                            <p style="text-align: justify">The multidisciplinary clinic for young people with liver disease is unique in its format and looks
                                after young people with liver disease aged 12-25 years thereby accommodating the special needs of adolescents and young adults. 
                                This includes young people transitioning in care from paediatrics to adult services but also young adults, 16 years and over who 
                                present to adult services. </p>

                             <p style="text-align: justify">   

                                The last 3 years has seen a consistent increase in the number of patients  attending the Transition clinics.  
                                The highest number of patients seen year to date was in 2019/20 (1055) When. compared to 2017/18 (792) there has been a 33% rise in patients 
                                attending this clinic.
                                
                                Aside from the regular outpatient clinics, the service provides support during inpatient stays and encourages communication and 
                                interaction with young people via email and phone calls. A peer mentoring programme is in place and mentors are involved in supporting other 
                                young people but also in conferences and as lay panels in research projects. Members of the multidisciplinary team are actively involved in 
                                research activities including writing of papers and book chapters as well as guidelines and have been invited speakers at both national and 
                                international conferences.
                                
                                                
                            </p>
                          
                        </div>
                    </div>
                </div>
            </div>
        </section>


        

</body>

</html>
{% endblock %}