{% extends 'base.html' %}
{% load static %}


{% block content %}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix"></div>

		

		<section id="slider" class="slider-element swiper_wrapper min-vh-75">
			<div class="slider-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark">
							<div class="container">
								<div class="slider-caption slider-caption-center">
									<h2 data-animate="fadeInUp" style="color: #152238;">Welcome to YOUNG ADULT LIVER SERVICE AT KING'S COLLEGE HOSPITAL </h2>
                                    <h2 data-animate="fadeInUp" data-delay="200"  style="color: #203354;">INFORMATION HUB  </h2>
									
								</div>
							</div>
							<div class="swiper-slide-bg" style="background-image: url('static/images/slider/swiper/first.png');"></div>
						</div>
						<div class="swiper-slide dark">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-animate="fadeInUp">Find Out More </h2>
									<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200"  style="color: #152238;"><strong>Here you can find information about  liver diseases along with help  &amp; support. </strong> </p>
								</div>
                                <div class="swiper-slide-bg" style="background-image: url('static/images/slider/swiper/second.png');"></div>
							</div>
							<div class="video-wrap">
								<video poster="static/images/videos/explore-poster.jpg" preload="auto" loop autoplay muted>
									<source src='static/images/videos/explore.mp4' type='video/mp4' />
									<source src='static/images/videos/explore.webm' type='video/webm' />
								</video>
								<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="container">
								<div class="slider-caption">
									<h2 data-animate="fadeInUp">Join Us </h2>
									<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200"><strong>Sign up to check out  events &amp; posts created by healthcare professionals and take part of our community through our forum .</strong> </p>
								</div>
							</div>
							<div class="swiper-slide-bg" style="background-image: url('static/images/slider/swiper/third.png');"></div>
						</div>
					</div>
					<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
					<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
					<div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
				</div>

			</div>
		</section>
		
		<!-- Content
		============================================= -->
        <section id="content">
            <div class="content-wrap">

                <section id="section-about" class="page-section">

                    <div class="container clearfix">

                        <div class="heading-block center">
                            <h2>Young adult <span>Liver service </span></h2>
                            <span>A national hub providing a highly specialised service to young adults with liver problems.   
                            </span>
                        </div>

                        <div class="row justify-content-center col-mb-50">
                            <div class="col-sm-6 col-lg-4">
                                <div class="flip-card">
                                    <div class="flip-card-front dark" style="background-image: url('static/images/home/1/1a.jpg')">
                                        <div class="flip-card-inner">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0">Alcohol CLDF</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back no-after" style="background-color: #2139a2">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">Choices and Decison it's up to you ...</p>
                                            <a href="static/images/home/1/1.pdf" target="_blank" class="btn btn-outline-light mt-2">View Details</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="flip-card">
                                    <div class="flip-card-front dark" style="background-image: url('static/images/home/2/2.jpeg')">
                                        <div class="flip-card-inner">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0">Alcohol and You</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back no-after" style="background-color: #2139a2">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">Facts about Alcohol and satisfying safe ...</p>
                                            <a href="static/images/home/2/2.pdf" target="_blank" class="btn btn-outline-light mt-2">View Details</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-4">
                                <div class="flip-card">
                                    <div class="flip-card-front dark" style="background-image: url('static/images/home/3/3a.jpg')">
                                        <div class="flip-card-inner">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0">Alcohol  And Young People.</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back no-after" style="background-color: #2139a2">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">The straight facts about alcohol...</p>
                                            <a href="static/images/home/3/3.pdf" target="_blank" class="btn btn-outline-light mt-2">View Details</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                             <div class="col-sm-6 col-lg-4">
                                <div class="flip-card">
                                    <div class="flip-card-front dark" style="background-image: url('static/images/home/4/4a.jpg')">
                                        <div class="flip-card-inner">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0">Alcohol when you have a liver disease.</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back no-after" style="background-color: #2139a2">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">If you have a liver condition or have had a transplant...</p>
                                            <a href="static/images/home/4/4.pdf" target="_blank" class="btn btn-outline-light mt-2">View Details</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 col-lg-4">
                                <div class="flip-card">
                                    <div class="flip-card-front dark" style="background-image: url('static/images/home/5/5a.webp')">
                                        <div class="flip-card-inner">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0">Autoimmune Liver disease day</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back no-after" style="background-color: #2139a2">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">Approximately 25 children are diagnosed with Autoimmune Liver Disease...</p>
                                            <a href="static/images/home/5/5.pdf" target="_blank" class="btn btn-outline-light mt-2">View Details</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 col-lg-4">
                                <div class="flip-card">
                                    <div class="flip-card-front dark" style="background-image: url('')">
                                        <div class="flip-card-inner">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0">Listen Website Youth </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back no-after" style="background-color: #2139a2">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white"></p>
                                            <a href="static/images/home/6/6.pdf" target="_blank" class="btn btn-outline-light mt-2">View Details</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 col-lg-4">
                                <div class="flip-card">
                                    <div class="flip-card-front dark" style="background-image: url('static/images/home/7/7a.jpg')">
                                        <div class="flip-card-inner">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0">Liver Transition Information </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back no-after" style="background-color: #2139a2">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">This leaflet explains what happens when you move from the children’s
												liver service to the adult service...</p>
                                            <a href="static/images/home/7/7.pdf" target="_blank" class="btn btn-outline-light mt-2">View Details</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 col-lg-4">
                                <div class="flip-card">
                                    <div class="flip-card-front dark" style="background-image: url('static/images/home/8/8a.jpg')">
                                        <div class="flip-card-inner">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0">LN- Information from clinic</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back no-after" style="background-color: #2139a2">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white"></p>
                                            <a href="static/images/home/8/8.pdf" target="_blank" class="btn btn-outline-light mt-2">View Details</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 col-lg-4">
                                <div class="flip-card">
                                    <div class="flip-card-front dark" style="background-image: url('static/images/home/9/9a.jpg')">
                                        <div class="flip-card-inner">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0">Managing My Anger</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back no-after" style="background-color: #2139a2">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">Some people seem to have a long or a short fuse...</p>
                                            <a href="static/images/home/9/9.pdf" target="_blank" class="btn btn-outline-light mt-2">View Details</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 col-lg-4">
                                <div class="flip-card">
                                    <div class="flip-card-front dark" style="background-image: url('static/images/home/10/10.jpeg')">
                                        <div class="flip-card-inner">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0">Pregnancy</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back no-after" style="background-color: #2139a2">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">It is advised to talk to your consultant if you are planning on
												getting pregnant...</p>
                                            <a href="static/images/home/10/10.pdf" target="_blank" class="btn btn-outline-light mt-2">View Details</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 col-lg-4">
                                <div class="flip-card">
                                    <div class="flip-card-front dark" style="background-image: url(static/images/home/11/11a.jpg)">
                                        <div class="flip-card-inner">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0">Puberty and Contraception</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back no-after" style="background-color: #2139a2">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">Delayed puberty can be common in chronic Liver disease....</p>
                                            <a href="static/images/home/11/11.pdf" target="_blank" class="btn btn-outline-light mt-2">View Details</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
							<div class="col-sm-6 col-lg-4">
                                <div class="flip-card">
                                    <div class="flip-card-front dark" style="background-image: url('static/images/home/12/12.jpeg')">
                                        <div class="flip-card-inner">
                                            <div class="card bg-transparent border-0">
                                                <div class="card-body">
                                                    <h3 class="card-title mb-0">School - College </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flip-card-back no-after" style="background-color: #2139a2">
                                        <div class="flip-card-inner">
                                            <p class="mb-2 text-white">You might have to take time out of school...</p>
                                            <a href="static/images/home/12/12.pdf" target="_blank" class="btn btn-outline-light mt-2">View Details</a>

                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>


                </section>

            </div>
        </section><!-- #content end -->

		
		
		
		

</body>
</html>
{% endblock %}