{% extends 'base.html' %}
{% block content %}
{% load static %}
<html>
{% include 'errors/form_errors.html' %}
  <body class="stretched">
    <section id="content">
      <div class="content-wrap">
        <div class="container clearfix">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="well well-lg mb-0">
              {% if validlink %}
                
                <form id="login-form" name="login-form" class="row" method="post">
                  <div class="col-12">
                    <h3>Change your password</h3>
                        </div>
                              {% csrf_token %}
                              <div class="col-12 form-group">
                                  <label for="login-form-username">New Password:</label>
                                  <input type="password" id="password-form-password" name="new_password1" value="" class="form-control" />
                              </div>

                              <div class="col-12 form-group">
                                  <label for="login-form-password">New Password Confirmation:</label>
                                  <input type="password" id="password-form-password2" name="new_password2" value="" class="form-control" />
                              </div>

                              <div class="col-12 form-group">
                                  <button class="btn btn-primary m-0" id="password-form-submit" name="submit" value="login">Confirm Changes</button>
                              </div>

                            </div>

                          </form>
                        {% else %}
                        <div class="col-12">
                        <h4 class = 'text-justify'>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.</h4>
                        </div>
                        {% endif %}
                      </div>


                  </div>



              </div>


          </div>
      </div>
    </section><!-- #content end -->

  </body>
</html>
{% endblock %}