{% extends 'base.html' %}
{% block content %}
{% load static %}
<html>
  <body class="stretched">
    <section id="content">
      <div class="content-wrap">
          <div class="container clearfix">
              <div class="row justify-content-center">

                  <div class="col-md-6">

                      <div class="well well-lg mb-0">
                          <form id="login-form" name="login-form" class="row" action="#" method="post">

                              <div class="col-12">
                                  <h3>Reset your password?</h3>
                                  <h5> Enter your email address below, and we'll email instructions for setting a new one. </h5>
                              </div>
                              {% csrf_token %}
                              <div class="col-12 form-group">
                                  <label for="password-reset-form">Email:</label>
                                  <input type="email"  
                                  name="email" 
                                  class="myInput" 
                                  required />
                              </div>

                              <div class="col-12 form-group">
                                  <button class="btn btn-primary m-0"
                                   type="submit"
                                   value="Confirm Subscription">Submit</button>
                              </div>
                              

                          </form>
                      </div>

                  </div>



              </div>


          </div>
      </div>
    </section><!-- #content end -->

  </body>
</html>
{% endblock %}