{% extends 'base.html' %}
{% block content %}
{% load static %}
<html>
  <body class="stretched">
    {% include 'errors/form_errors.html' %}
    <section id="page-title" class="page-title-pattern">

      <div class="container">
          <h1>My Account</h1>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Login</li>
          </ol>
      </div>

  </section><!-- #page-title end -->

  <section id="content">
      <div class="content-wrap">
          <div class="container clearfix">
              <div class="row justify-content-center">

                  <div class="col-md-6">

                      <div class="well well-lg mb-0">
                          <form id="register-form" name="register-form" class="row mb-0" action="{% url 'patient-signup' %}" method="post">
                           <div class="col-12">
                                  <h3>Patient Sign-up? Register for an Account </h3>
                              </div>
                              <h4 class = 'text-justify'>
                              Please contact the administration to register.
                              </h4>

                                  <span>
                                    <b>
                                        Already a User? Please <a href="{% url 'login' %}">Login</a> to Your Account
                                    </b>
                                  </span>

                              </div>
        </form>
                      </div>

                  </div>



              </div>


          </div>
      </div>
  </section><!-- #content end -->


  </body>
</html>
{% endblock %}
